:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    background-color: #FFF;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.title,
.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.header-two {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.header-three {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.text {
    color: var(--text);
}

.body-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .container {
        width: 396px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        margin: 0 auto;
        justify-content: space-around;
    }
}

/* ======================HEADER=================== */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}

.nav-logo-span,
.footer-logo-span {
    color: var(--primary-brand);
}

.nav-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-item {
    color: var(--dark);
}

.menu-item:hover,
.menu-item:focus {
    color: var(--pressed-state);
}

.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
    color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
    .mobile-menu-open {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-logo {
        margin-right: 120px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0px;
    }

    .menu-item {
        position: relative;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .nav-after::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        display: block;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--pressed-state)
    }

    .address-list {
        margin: 0;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.04em;
    }


}

@media screen and (min-width: 1200px) {
    .nav {}

    .nav-logo {
        margin-right: 76px;
    }

    .address-list {
        display: flex;
        gap: 40px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .menu {
        display: none;
    }

    .address {
        display: none;
    }

    .mobile-menu-open {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu-open_icon {
        stroke: var(--dark);
    }
}

/* ======================HEADER=================== */

/* ======================HERO=================== */
.hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-text {
    color: #FFF;
    text-align: center;
}

.hero-button {
    padding: 16px 32px;
    font-family: inherit;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    border: none;

}

@media screen and (max-width: 767px) {
    .hero-section {
        max-width: 480px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/Dark-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/Dark-bg@2x.jpg);
        }
    }

    .hero-section .hero-text {
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/Dark-bg-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/Dark-bg-tablet@2x.jpg);
        }
    }

    .hero-section .hero-text {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/dark-bg-desktop.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/dark-bg-desktop@2x.jpg);
        }
    }

    .hero-section .hero-text {
        margin-bottom: 48px;
    }

    .hero-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--pressed-state);
    }
}

/* ======================HERO=================== */

/* ======================STRATEGY=================== */
.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
}

.strategy .strategy-list {
    display: flex;
    margin: 0;
}

.strategy .header-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
}

.strategy-item {
    max-width: 396px;
}

.strategy .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

@media screen and (max-width: 767px) {
    .strategy .header-three {
        text-align: center;
    }

    .strategy-list {
        flex-direction: column;
        gap: 72px;
    }
}

@media screen and (max-width: 1199px) {
    .strategy-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .strategy {
        padding-bottom: 24px;
    }

    .strategy-list {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .strategy-item {
        margin: 0 24px 72px 0;
        width: calc(100% / 2 - 2 * 12px);
    }

    .strategy .text {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .strategy {
        padding-bottom: 96px;
    }

    .strategy-item {
        width: 264px;
    }

    .strategy-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .strategy-item {
        margin: 0;
    }

    .strategy .header-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .strategy .text {
        font-weight: 400;
    }

    .icon-container {
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light);
        border-radius: 4px;
    }
}

/* ======================STRATEGY=================== */
/* ======================DOING=================== */
@media screen and (max-width: 1199px) {
    .doing {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .doing {
        padding-bottom: 120px;
    }

    .doing .header-two {
        text-align: center;
    }

    .doing-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 0;
        margin: 0;
        margin-top: 72px;
    }

    .doing-items {
        width: 360px;
        height: 300px;
        background-blend-mode: soft-light, normal;
        border: 1px solid var(--accent);
    }

    .items1 {
        background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/imac.jpg);
    }

    .items2 {
        background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/messenger.jpg);
    }

    .items3 {
        background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/phone.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .doing-items {
            background-position: center;
            background-size: 360px 300px;
        }

        .items1 {
            background-image: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/imac@2x-2.png);
        }

        .items2 {
            background-image: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/messenger@2x-1.png);
        }

        .items3 {
            background-image: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(../images/studio/phone@2x.png);
        }

    }
}

/* ======================DOING=================== */
/* =================TEAM==================== */
.section-team {
    background-color: var(--light);
    padding-top: 96px;
    padding-bottom: 128px;
}

.section-team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-team .header-two {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0;
}

.cards-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.cards-team img {
    display: block;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
    gap: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:focus,
.social-list-link:hover {
    background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list {
        gap: 24px;
    }
}

/* =================TEAM==================== */

/* ======================CUSTOMERS=================== */
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers .container {
    display: flex;
    flex-direction: column;
}

.customers .header-two {
    text-align: center;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 72px 14px;
}

.customers-list-item {
    width: 176px;
    height: 88px;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    fill: #8e8f99;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
    fill: var(--pressed-state);
    border: 1px solid var(--pressed-state);
}

.customers-list-icon {
    width: 110px;
}

@media screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
    }

    .customers-list-item {
        width: 168px;
    }

    .customers-list-icon {
        width: 104px;
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* ======================CUSTOMERS=================== */

/* ======================FOOTER=================== */
.footer {
    background-color: var(--dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.container-text {
    width: 268px;
    margin-bottom: 72px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    color: var(--light);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-text {
    line-height: 1.5;
    color: var(--accent);
}

.social-media {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}

.footer-social-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.footer-list-item {
    display: flex;
    width: 40px;
    height: 40px;

}

.footer-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-list-link:hover,
.footer-list-link:focus {
    background-color: var(--success);
}

.footer-subscribe-label {
    color: #FFF;
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe-input {
    width: 396px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFF;
    background-color: var(--dark);
    padding-left: 16px;
    margin-bottom: 16px;
}

.footer-subscribe-input:placeholder-shown {
    padding-left: 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;

    color: #FFF;
    background-color: var(--primary-brand);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
    .footer .container {
        padding-left: 108px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .container-text {
        width: 264px;
        margin-bottom: 0;
    }

    .footer-logo {
        justify-content: flex-start;
    }

    .social-media {
        margin-bottom: 0;
    }

    .footer-social-text {
        text-align: left;

    }

    .footer-subscribe-label {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
    }

    .footer-subscribe-input {
        width: 264px;
        margin-bottom: 0;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer .container {
        justify-content: flex-start;
        padding-left: 15px;
        gap: 0;
    }

    .container-text {
        margin-right: 120px;
    }

    .social-media {
        margin-right: 80px;
    }
}

/* ======================FOOTER=================== */

/* =================MOBILE_MENU==================== */
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu_close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.mobile-menu_container {
    position: relative;
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-menu-list_menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    margin-bottom: 150px;
}

.mobile-menu-item_menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.mobile-menu-item_menu:hover,
.mobile-menu-item_menu:focus {
    color: var(--primary-brand);
}

.mobile-menu-list_cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    margin-bottom: 48px;
}

.mobile-menu-item_phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu-item_phone:hover,
.mobile-menu-item_phone:focus,
.mobile-menu-item_mail:hover,
.mobile-menu-item_mail:focus {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand);
}

.mobile-menu-item_mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu-list_soc {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.mobile-menu-item_soc {
    width: 40px;
    height: 40px;
}

.mobile-menu-link_soc {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--primary-brand);
}

/* =================MOBILE_MENU==================== */
/* =================MODAL==================== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay);
    transform: scale(1);
    transition: opacity 400ms linear, transform 400ms linear, visibility 400ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 392px;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFF;
}

.modal-header {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-lab {
    position: relative;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
}

.modal-form-in {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-in:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
}

.modal-form-in-icon {
    position: absolute;
    display: block;
    left: 16px;
    top: 70%;
    transform: translate(0, -50%);
    fill: var(--dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-in:focus+.modal-form-in-icon {
    fill: var(--primary-brand);
}

.modal-form-comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
}

.modal-form-comment:placeholder-shown {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
    outline: none;
    border: 1px solid var(--primary-brand);
}

.modal-form-check-lab {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 24px;
    color: #757575;
}

.modal-form-check-link {
    color: var(--primary-brand);
}

.modal-form-check-lab::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../images/check-off.svg);
    cursor: pointer;
    margin-right: 8px;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked+.modal-form-check-lab::before {
    background-image: url(../images/check-on.svg);
}

.modal-form-check:focus+.modal-form-check-lab::before {
    outline: 1px solid var(--primary-brand);
}

.modal-form-send {
    display: flex;
    align-self: center;
    padding: 16px 32px;
    color: #FFF;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-form-send-span {
    line-height: 1.5;
    width: 105px;
}

.modal-form-send:hover,
.modal-form-send:focus {
    background: var(--pressed-state);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }

}

/* =================MODAL==================== */