:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F4266;
    --hero-background: #2E2F42B2;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    background-color: #FFF;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.title,
.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.header-two {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.header-three {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.text {
    color: var(--text);
}

.body-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width:480px) {
    .container {
        width: 396px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 736px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1158px;
    }
}

/* ======================HEADER=================== */
.nav-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
}

.nav-logo-span,
.footer-logo-span {
    color: var(--primary-brand);
}

.nav-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-item {
    color: var(--dark);
}

.mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open_icon {
    stroke: var(--dark);
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .address {
        display: none;
    }
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =================MOBILE_MENU==================== */
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFF;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu_close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.mobile-menu_container {
    position: relative;
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-menu-list_menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    margin-bottom: 150px;
}

.mobile-menu-item_menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.mobile-menu-list_cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    margin-bottom: 48px;
}

.mobile-menu-item_phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand);
}

.mobile-menu-item_mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-menu-list_soc {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.mobile-menu-item_soc {
    width: 40px;
    height: 40px;
}

.mobile-menu-link_soc {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--primary-brand);
}

/* =================MOBILE_MENU==================== */